body{
    font-family: 'Courier New', Courier, monospace;
    background: #282828;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

header{
    background: transparent;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    font-size:16px;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    
    display:inline;
    padding-right: 50px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
    padding-left: 50px;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color: black;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }


.wrapper h1{
    /* font-weight: lighter; */
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
    margin-top: 200px;

}

.wrapper p{
    color: #ffff;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}
.media{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-53%, -50%)
}

.wrapper li{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding:20px 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: .5s;
    margin-top: 600px;
}

.wrapper li:hover{
    color: #23D5AB;
    border: 1px solid #282828;
    transition: .5s;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
}
    50%{
    background-position: 100% 50%
}
    100%{
    background-position: 0% 50%;
    }
}    